footer {
  width: 100%;
  height: 50px;
  color: #818181;
  @extend .flex-center;
  background-color: $soft-background-color;
  border-top: 1px solid $soft-border-color;
  margin-top: 30px;

  a{
    margin-left: 5px;
    color: #818181;
  }
}